<extend name="Public/frame"/>
<block name="page_body">


    <include file="Public/header"/>


    <div class="container">
        <div class="row">

            <div class="col-md-2 about-left" style="padding:0px;">
                <div class="about-title">
                    <h3>最新资讯</h3>
                    <em></em>
                    <h4><a href="{:U('/News')}" class="active2">新闻动态</a></h4>
                    <h4><a href="{:U('/Articles')}">我们在行动</a></h4>
                    <h4><a href="{:U('/Album')}">相册</a></h4>
                </div>
                <include file="Public/donate-left"/>

            </div>

            <div class="col-md-10 about-desc">
                <h2>新闻动态</h2>
                <hr>
                <div class="page-list">
                    <foreach name="data_news" item="v">
                        <div class="item">
                            <div class="title">
                                <a href="{:U('/News/'.$v['id'])}">{$v.title|htmlspecialchars}</a>
                            </div>
                            <div class="cover">
                                <a href="{:U('/News/'.$v['id'])}"><img src="__ROOT__/{$v.cover}"/></a>
                            </div>
                            <div class="summary">
                                {$v.description}
                            </div>
                            <p><a href="{:U('/News/'.$v['id'])}">【详情】</a></p>
                        </div>
                    </foreach>


                </div>


                <div class="pagination">
                    {$data_page}
                </div>

            </div>

        </div>

    </div>


    <include file="Public/footer"/>


</block>
