ajax: true,
selection:true,
multiSelect: true,
rowSelect: true,
templates:{
header:'<div id="{{ctx.id}}" class="{{css.header}}"><div class="row"><div class="col-sm-12 actionBar"><p class="{{css.search}}"></p><p class="{{css.actions}}"></p><div class="pull-left">'+grid_buttons+'</div></div></div></div>'
},
labels: {
all: "{$Think.lang.all}",
infos: "{$Think.lang.table_infos}",
loading: "{$Think.lang.loading}",
noResults: "{$Think.lang.no_results}",
refresh: "{$Think.lang.refresh}",
search: "{$Think.lang.search}"
},