<extend name="Public/frame"/>
<block name="page_body">

    <include file="Public/header"/>

    <div class="container">
        <div class="row">
            <div class="col-md-2 about-left" style="padding:0px;">
                <div class="about-title">
                    <h3>关于我们</h3>
                    <em></em>
                    <h4 class="h4-one"><a href="{:U('/About')}">永翔基金会介绍</a></h4>
                    <h4 class="h4-two"><a href="{:U('/About/contact')}" class="active2">联系我们</a></h4>
                </div>
                <include file="Public/donate-left"/>
            </div>
            <div class="col-md-10 about-desc">
                <h2>联系我们</h2>
                <hr>
                <p>
				【缘起】GENESIS</br>
				这是一个由史永翔教授发起，全体YTT成员共同推动，针对乡村学生改善阅读的公益项目，我们将它命名为“YTT乡村学校图书馆烛光行动”。</br>
				【使命】MISSION</br>
				让更多的孩子有书读、读好书、好读书，用我们的爱心点亮他们的希望与梦想。</br>
				【联系方式】</br>
				YTT乡村学校图书馆烛光行动执行委员会</br>
				电话：0512-62807962</br>
				地址：江苏省苏州市工业园区旺敦路188号建屋大厦1107</br>
				邮编：215028</br> 
                <h5 style="color:#F39700; ">爱心热线：0512-62807962</h5>
                </p>
            </div>
        </div>
    </div>


    <include file="Public/footer"/>
    \
</block>


