<extend name="Public/frame"/>
<block name="page_body">

    <include file="Public/header"/>

    <div class="container">
        <div class="row">

            <div class="col-md-2 about-left" style="padding:0px;">
                <div class="about-title">
                    <h3>关于我们</h3>
                    <em></em>
                    <h4><a href="{:U('/About')}" class="active2">烛光公益基金会</a></h4>
                    <h4><a href="{:U('About/contact')}" >联系我们</a></h4>
                </div>

                <include file="Public/donate-left"/>

            </div>


            <div class="col-md-10 about-desc">
                <h2>烛光公益基金会简介</h2>
                <hr>
                <p>
                    基金会名称：烛光公益基金会。<br>
                    基金会性质：非公募（公募或非公募）基金会。<br>
                    基金会宗旨：在遵守国家宪法、法律、法规和国家政策，遵守社会道德风尚的前提下，汇八方涓流、襄慈善伟业，弘扬人道主义精神，帮扶救助弱势群体，履行企业公民责任，推动社会和谐发展。<br>
                    目前开展的公益活动介绍——YTT乡村学校图书馆烛光行动<br>
                    这是一个由史永翔教授发起的，在全体YTT成员共同推动下，针对乡村学校学生改善阅读的公益项目，我们将它命名成“YTT乡村学校图书馆烛光行动”。<br>
                    本项目是帮助贫困地区中小学建立图书馆（室），解决当地中小学生缺乏课外读物的问题。项目提倡培养兴趣、快乐阅读，拓宽学生们的知识面，缩短城乡孩子之间的知识鸿沟，让更多的乡村学生有书、爱书、学会读书、享受读书，能够感受书带来的广阔世界。
                    烛光行动自2007年9月正式启动，到2016年12月我们已建成591所乡村学校图书馆。烛光的足迹遍布河北唐山、安徽大别山、青海玉树、四川甘孜、云南丽江、云南迪庆藏族自治州等地区。
                </p>
            </div>
        </div>
    </div>


    <include file="Public/footer"/>
    \
</block>


