<extend name="Public/frame"/>
<block name="page_body">

    <include file="Public/header"/>

    <div class="container">
        <div class="row">
            <div class="col-md-2 about-left" style="padding:0px;">
                <div class="about-title">
                    <h3>公益行动</h3>
                    <em></em>
                    <h4 class="h4-two"><a href="{:U('/About/welfare')}" class="active2">烛光行动</a></h4>
                </div>
                <include file="Public/donate-left"/>

            </div>
            <div class="col-md-10 about-desc">
                <h2>烛光行动</h2>
                <hr>
                <p>
 “乡村图书馆烛光计划”是YTT首先推出的计划是为乡村学校建立图书馆的活动。这是一个帮助广大农村学生改善阅读环境，让他们“有书读，读好书、爱读书的公益项目”我们将它命名为：乡村图书馆烛光计划  。以下简称为“烛光计划”。</br>

    &nbsp;  &nbsp;据国务院扶贫办统计数据显示，截至2007年底，我国农村绝对贫困人口为1479万，低收入人口为2841万，贫困地区的儿童正处于没书读或缺书读的无奈处境。而且，中国县镇及以下的乡村中小学有53万所，占全国中小学校总数的80%以上，在校学生1.6亿，同样占全国中小学生总数的80%以上，而当中大多数中小学没有图书馆。同时，我们也看到，在很多乡村学校里，只有破旧的校舍、简陋的教学设施、身兼数门课程的教师、没有图书、没有电脑、没有网络。</br>

     &nbsp;  &nbsp;  面对这样的现状，YTT发起了公益捐书、志愿讲课活动——“乡村学校图书馆烛光计划”，旨在凝聚俱乐部优秀企业家会员的力量，搭起理想的阶梯，将知识的种子和关爱奉献的理念延伸到俱乐部外，为贫困地区的孩子们提供图书，让那些信息不畅、边远地区的孩子们也能获取知识，了解外面的世界，外贫困地区的孩子们带来人生的鼓励，带去改变命运的机会。</br>

     &nbsp;  &nbsp;对我们来说，一本书微不足道，但对于乡村的孩子，一本书就为他们打开一扇窗，也许就改变了他们的一生；我们认为个人的力量是微小的,但是当我们联合起来，就汇成一股力量！                                   </p>

            </div>
        </div>
    </div>


    <include file="Public/footer"/>
    \
</block>


