<extend name="Public/frame"/>
<block name="page_body">

    <include file="Public/header"/>

    <div class="container">
        <div class="row">
            <div class="col-md-2 about-left" style="padding:0px;">
                <div class="about-title">
                    <h3>关于捐赠</h3>
                    <em></em>
                    <h4><a href="{:U('Donate/index')}" class="active2">我要捐赠</a></h4>
                </div>

                <include file="Public/donate-left"/>

            </div>

            <div class="col-md-10 about-desc">
                <h2>关于捐赠</h2>
                <hr>
                <div>
                    <p class="MsoNormal">

                        我们鼓励每个人参与YTT烛光行动的公益事业，相信每个人都有能力影响和改变现状。
                        您可以通过以下方式一次性支持YTT烛光公益行动，捐赠金额由您自主选择。我们推荐您使用微信、支付宝、银联在线等即时在线支付渠道，体验便捷高效安全的捐赠方式；当然，您也可以通过银行汇款等方式参与我们的行动。 
                        请相信您的行动所能带来的力量，和我们一起践行“聚成一团火，散作满天星”。我们将通过网站或官方微信汇报阶段性工作成果，帮助您深入了解您的行动为孩子们所带来的改变。

                    </p>

                </div>


                <div>
                    <p>
                        <span style="font-size:14px;"><br></span>
                        <span style="line-height:2;font-family:Microsoft YaHei;font-size:16px;color:#F39700">人民币捐款账户</span>
                        <span style="font-size:14px;"><br></span>
                        <span style="line-height:2;font-family:Microsoft YaHei;font-size:14px;">机构名称：苏州烛光公益基金会</span>
                        <span style="font-size:14px;"><br></span>
                        <span style="line-height:2;font-family:Microsoft YaHei;font-size:14px;">开户行：中国银行苏州园区行政中心支行</span>
                        <span style="font-size:14px;"><br></span>
                        <span style="line-height:2;font-family:Microsoft YaHei;font-size:14px;">人民币账号：531368553655</span>
                    </p>

                </div>

            </div>
        </div>
    </div>


    <include file="Public/footer"/>
    \
</block>


